[#if PLUGINS#]
<div class="market-plugin-list" id="market_application">
    [#begin PLUGINS#]
    <div class="market-plugin-card">
        [#if EXIST="1"#]
        <a class="market-plugin-card__icon-link" href="<#ROOTHTML#>panel/market.html?op=details&plugin=[#MODULE_NAME#]">
            <img src="https://connect.smartliving.ru/cms/addons/[#ID#]_icon.png" alt="[#TITLE#]" data-market-fallback-src="<#ROOTHTML#>img/modules/default.png">
        </a>
        [#else#]
        <span class="market-plugin-card__icon-placeholder">
            <img src="https://connect.smartliving.ru/cms/addons/[#ID#]_icon.png" alt="[#TITLE#]" data-market-fallback-src="<#ROOTHTML#>img/modules/default.png">
        </span>
        [#endif#]
        <div>
            <div class="market-plugin-card__header">
                [#if AUTHOR!=""#]
                <div class="market-plugin-card__author">
                    [#if AUTHOR_URL!=""#]<a href="[#AUTHOR_URL#]" target="_blank">[#endif#][#AUTHOR#][#if AUTHOR_URL!=""#]</a>[#endif#]
                </div>
                [#endif#]
                [#if EXISTS#]
                    [#if INSTALLED_VERSION!="<#PLUGINS.LATEST_VERSION#>"#]
                    <span class="market-plugin-card__badge"><#LANG_NEWMARKET_UPDATE_ALAIL#></span>
                    [#endif#]
                [#endif EXISTS#]
            </div>
            <h3 class="market-plugin-card__title" id="row[#ID#]_title">
                [#if URL!=""#]<a href="[#URL#]" target="_blank">[#endif#][#TITLE#][#if URL!=""#]</a>[#endif#]
            </h3>
            [#if "<#SETTINGS_SITE_LANGUAGE#>"=="ru"#]
                [#if DESCRIPTION_RU!=""#]
                <div class="market-plugin-card__description" id="row[#ID#]_description">[#DESCRIPTION_RU#]</div>
                [#endif#]
            [#else#]
                [#if DESCRIPTION_EN!=""#]
                <div class="market-plugin-card__description" id="row[#ID#]_description">[#DESCRIPTION_EN#]</div>
                [#else#]
                    [#if DESCRIPTION_RU!=""#]
                    <div class="market-plugin-card__description" id="row[#ID#]_description">[#DESCRIPTION_RU#]</div>
                    [#endif#]
                [#endif#]
            [#endif#]
            [#if LATEST_VERSION!=""#]
            <div class="market-plugin-card__meta"><#LANG_LATEST_UPDATES#>: [#if LATEST_VERSION_URL!=""#]<a href="[#LATEST_VERSION_URL#]" target="_blank">[#LATEST_VERSION#]</a>[#else#][#LATEST_VERSION#][#endif#] [#if LATEST_VERSION_COMMENT!=""#]([#LATEST_VERSION_COMMENT#])[#endif#]</div>
            [#endif#]
        </div>
        <div class="market-plugin-card__actions-shell">
            <div class="market-plugin-card__actions">
                [#if CAN_DOWNLOAD="1" OR CUSTOM_REPOSITORY_ACTIVE="1"#]
                    <a
                        class="btn btn-[#if CUSTOM_REPOSITORY_ACTIVE="1"#]info[#else#]default[#endif#]"
                        href="#"
                        data-market-action="custom-repo"
                        data-module-name="[#MODULE_NAME#]"
                        data-current-url="[#CUSTOM_REPOSITORY_URL_BASE64#]"
                        title="[#if CUSTOM_REPOSITORY_ACTIVE="1"#]Используется пользовательский URL[#else#]Указать свой Git/архив URL[#endif#]"
                    ><i class="glyphicon glyphicon-link"></i> Свой GIT</a>
                    <a class="btn btn-[#if INSTALLED_VERSION!="<#PLUGINS.LATEST_VERSION#>"#]success[#else#]warning[#endif#]" href="<#ROOTHTML#>panel/market.html?mode=iframe&mode2=install&name=[#MODULE_NAME_ENCODED#]&url=[#REPOSITORY_URL_ENCODED#]&version=[#LATEST_VERSION_ENCODED#]">[#if EXISTS#]<i class="glyphicon glyphicon-refresh"></i> [#if INSTALLED_VERSION!="<#PLUGINS.LATEST_VERSION#>"#]<#LANG_UPDATE#>[#else#]Перекачать[#endif#][#else#]<i class="glyphicon glyphicon-download"></i> <#LANG_ADD#>[#endif#]</a>
                    [#if INSTALLED_VERSION!="<#PLUGINS.LATEST_VERSION#>" AND INSTALLED_VERSION != ''#]<a class="btn btn-market-ignore" data-confirm="<#LANG_ARE_YOU_SURE#>" href="<#ROOTHTML#>panel/market.html?mode=iframe&mode2=dontupdate&name=[#MODULE_NAME#]&value=[#LATEST_VERSION#]"><i class="glyphicon glyphicon-minus-sign"></i> Не обновлять</a>[#endif#]
                [#endif#]
            </div>
            [#if EXISTS#]
            <div class="market-plugin-card__secondary">
                <a href="<#ROOTHTML#>panel/market.html?op=details&plugin=[#MODULE_NAME#]" class="btn btn-default"><i class="glyphicon glyphicon-info-sign"></i> <#LANG_HISTORY#></a>
                <a class="btn btn-danger" href="<#ROOTHTML#>panel/market.html?mode=iframe&mode2=uninstall&name=[#MODULE_NAME#]" data-confirm="<#LANG_ARE_YOU_SURE#>"><i class="glyphicon glyphicon-trash"></i> <#LANG_DELETE#></a>
            </div>
            [#endif#]
        </div>
    </div>
    [#end PLUGINS#]
</div>
[#else PLUGINS#]
<div class="market-plugin-empty"><#LANG_NO_RECORDS_FOUND#></div>
[#endif PLUGINS#]

