<!--#
 @version 0.1 (auto-set)
#-->

<div class="md-scripts-page">
 <div class="md-scripts-hero">
  <div>
   <div class="md-scripts-hero__eyebrow"><#LANG_SECTION_OBJECTS#></div>
   <h2 class="md-scripts-hero__title"><#LANG_MODULE_SCRIPTS#></h2>
   <div class="md-scripts-hero__text"><#LANG_SCRIPT_HOW_TO_RUN#></div>
  </div>
  <div class="md-scripts-hero__actions">
   <a href="?view_mode=edit_scripts" class="btn btn-primary">+ <#LANG_ADD_NEW_SCRIPT#></a>
   <a href="?view_mode=edit_categories&data_source=categories" class="btn btn-default">+ <#LANG_ADD_NEW_CATEGORY#></a>
  </div>
 </div>

 <div class="md-scripts-tabs" role="tablist">
  <a class="md-scripts-tabs__item [#if DATA_SOURCE="scripts" || DATA_SOURCE=""#]is-active[#endif#]" href="?data_source=scripts"><#LANG_MODULE_SCRIPTS#></a>
  <a class="md-scripts-tabs__item [#if DATA_SOURCE="categories"#]is-active[#endif#]" href="?data_source=categories"><#LANG_CATEGORIES#></a>
 </div>

 [#if DATA_SOURCE=="" || DATA_SOURCE=="scripts"#]
  [#if VIEW_MODE="search_scripts" || VIEW_MODE=""#]
   [#inc scripts_search_admin.html#]
  [#endif VIEW_MODE#]
  [#if VIEW_MODE="edit_scripts"#]
   [#inc scripts_edit.html#]
  [#endif VIEW_MODE#]
 [#endif DATA_SOURCE#]

 [#if DATA_SOURCE=="categories"#]
  [#if VIEW_MODE="search_categories" || VIEW_MODE=""#]
   [#inc categories_search_admin.html#]
  [#endif VIEW_MODE#]
  [#if VIEW_MODE="edit_categories"#]
   [#inc categories_edit.html#]
  [#endif VIEW_MODE#]
 [#endif DATA_SOURCE#]
</div>
