<div class="md-scripts-card md-scripts-edit-card" data-scripts-edit-page data-scripts-edit-mode="[#if ID!=""#]edit[#else#]new[#endif#]" data-scripts-breadcrumb-edit="<#LANG_EDIT_RECORD#>" data-scripts-breadcrumb-new="<#LANG_NEW_RECORD#>">
 <form action="?" method="post" enctype="multipart/form-data" name="frmEdit" id="frmEdit" class="md-scripts-form">
  [#if OK#]
   <div class="alert alert-success" id="alert_msg" data-scripts-auto-hide><#LANG_DATA_SAVED#></div>
  [#endif OK#]
  [#if ERR#]
   <div class="alert alert-danger" id="alert_msg" data-scripts-auto-hide><#LANG_FILLOUT_REQURED#></div>
  [#endif ERR#]

  <div class="md-scripts-form__grid">
   <label class="md-scripts-label" for="script-category-title"><#LANG_TITLE#>: <span class="md-scripts-required">*</span></label>
   <input type="text" id="script-category-title" class="form-control [#if ERR_TITLE#]alert-danger[#endif#]" name="title" value="[#TITLE#]" required="true">
  </div>

  <div class="md-scripts-actions">
   [#if ID!=""#]
    <input class="btn btn-primary" type="submit" name="subm" value="<#LANG_SUBMIT#>">
   [#else ID#]
    <input class="btn btn-primary" type="submit" name="subm" value="<#LANG_ADD#>">
   [#endif ID#]
   <a href="?data_source=<#DATA_SOURCE#>" class="btn btn-default"><#LANG_CANCEL#></a>
  </div>

  <input type="hidden" name="id" value="<#ID#>">
  <input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
  <input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
  <input type="hidden" name="mode" value="update">
  <input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
 </form>
</div>
