<script language="javascript">
function showHide(id) {
 if ($('#sub'+id).is(":visible")) {
  $('#sub'+id).collapse('hide');
  $.cookie("script_categories_item"+id, null);
 } else {
  $.cookie("script_categories_item"+id, "1");
  $('#sub'+id).collapse('show');
 }
 return false;
}

function exportScriptsCount() {
 total = 0;
 $('input.md-scripts-export-input').each(function(index) {
  if($(this).is(':checked')) total++;
 });

 $('input[name=export]').val('<#LANG_EXPORT#> ' + total + ' <#LANG_ONCHANGE_SCRIPT_EV#>');
 $('input[name=export]').show();

 if(total == 0) $('input[name=export]').hide();
}
</script>

<div class="md-scripts-card">
 <form action="?" method="get" class="md-scripts-toolbar">
  <div class="md-scripts-toolbar__filters">
   <div class="md-scripts-search">
    <input type="text" name="title" value="<#TITLE#>" class="form-control" placeholder="<#LANG_SEARCH#>">
    <button type="submit" class="btn btn-primary"><#LANG_SEARCH#></button>
   </div>
   <select name="recently_updated" id="recently_updated" class="form-control md-scripts-select" onchange="this.form.submit();">
    <option value=""><#LANG_UPDATED#></option>
    [#begin RECENTLY_UPDATED#]
    <option value="[#ID#]">[#TITLE#] ([#PASSED#])</option>
    [#end RECENTLY_UPDATED#]
   </select>
  </div>
  <div class="md-scripts-toolbar__actions">
   <a href="?view_mode=edit_scripts" class="btn btn-primary">+ <#LANG_ADD_NEW_SCRIPT#></a>
   <a href="?view_mode=edit_categories&data_source=categories" class="btn btn-default">+ <#LANG_ADD_NEW_CATEGORY#></a>
  </div>
 </form>

 [#if RESULT#]
  <form action="?" method="post" class="md-admin-module-list__form">
   <div class="md-scripts-category-list">
    [#begin RESULT#]
     [#if NEW_CATEGORY#]
      [#if FIRST != 1#]
        </div>
       </div>
      [#endif#]

      <div class="md-scripts-category">
       <button type="button" class="md-scripts-category__header" onclick="showHide('[#CATEGORY_ID#]');">
        <span class="md-scripts-category__title">[#CATEGORY#]</span>
        <span class="md-scripts-category__toggle">v</span>
       </button>
       <div class="collapse out md-scripts-category__body" id="sub[#CATEGORY_ID#]">
        <div class="md-admin-record-list">
     [#endif#]
          <article class="md-admin-record-card md-scripts-record">
           <div class="md-admin-record-card__main">
            <button type="button" class="md-admin-record-card__search" onclick="setFilter('[#TITLE#]');return false;" title="<#LANG_SEARCH#>">?</button>
            <div class="md-admin-record-card__content">
             <div class="md-admin-record-card__title">
              <a href="?view_mode=edit_scripts&id=[#ID#]">[#TITLE#]</a>
              [#if EXECUTED_PASSED != ''#]<span class="md-scripts-record__time">[#EXECUTED_PASSED#]</span>[#endif#]
             </div>
             [#if DESCRIPTION != ''#]<div class="md-admin-record-card__field">[#DESCRIPTION#]</div>[#endif#]
            </div>
           </div>
           <div class="md-scripts-record__meta">
            <label class="md-scripts-export">
             <input type="checkbox" class="md-scripts-export-input" onchange="exportScriptsCount();" name="ids[]" value="[#ID#]">
             <span><#LANG_EXPORT#></span>
            </label>
           </div>
           <div class="md-admin-record-card__actions">
            [#if "<#ACTION#>"=="admin"#]
             <a href="?view_mode=run_script&id=[#ID#]" target="_blank" onclick="return confirm('<#LANG_ARE_YOU_SURE#>')" class="btn btn-primary btn-sm"><#LANG_RUN_SCRIPT_BTN#></a>
             <a href="?view_mode=delete_scripts&id=[#ID#]" onclick="return confirm('<#LANG_ARE_YOU_SURE#>')" class="btn btn-danger btn-sm"><#LANG_DELETE#></a>
            [#endif ACTION#]
           </div>
          </article>
     [#if LAST == 1#]
        </div>
       </div>
      </div>
     [#endif#]
    [#end RESULT#]
   </div>
   <div class="md-scripts-export-bar">
    <input type="hidden" name="view_mode" value="multiple">
    <input type="submit" class="btn btn-warning" name="export" value="<#LANG_EXPORT#>">
   </div>
  </form>
 [#else RESULT#]
  <div class="md-scripts-empty"><#LANG_NO_RECORDS_FOUND#></div>
 [#endif RESULT#]
</div>

<div class="md-scripts-card md-scripts-import">
 <button type="button" class="md-scripts-import__header" data-toggle="collapse" data-target="#scriptsImportPanel">
  <span><#LANG_IMPORT#></span>
  <span class="md-scripts-category__toggle">v</span>
 </button>
 <div class="collapse out" id="scriptsImportPanel">
  <form action="?" enctype="multipart/form-data" method="post" class="md-scripts-import__form">
   <input type="file" name="file" enctype="multipart/form-data" class="form-control">
   <input type="submit" name="submit" value="<#LANG_IMPORT#>" class="btn btn-primary">
   <input type="hidden" name="view_mode" value="import">
  </form>
 </div>
</div>

<script language="javascript">
[#if TITLE != ''#]
 [#begin RESULT#]
 $('#sub[#CATEGORY_ID#]').collapse('show');
 [#end RESULT#]
[#else#]
 [#begin RESULT#]
 if ($.cookie("script_categories_item[#CATEGORY_ID#]") || (<#TOTAL_CATEGORIES#>==1)) {
  $('#sub[#CATEGORY_ID#]').collapse('show');
 }
 [#end RESULT#]
[#endif#]
</script>
