<meta name="robots" content="noindex, nofollow"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

<link rel="shortcut icon" href="<#ROOTHTML#>favicon.ico" type="image/x-icon"/>

<script type="text/javascript"  src="<#ROOTHTML#>3rdparty/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript"  src="<#ROOTHTML#>3rdparty/jquery/jquery-migrate-3.0.0.min.js"></script>

<!-- Admin shell assets -->
<link rel="stylesheet" id="theme" href="<#ROOTHTML#>3rdparty/bootstrap5/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="<#ROOTHTML#>3rdparty/bootstrap-icons/font/bootstrap-icons.min.css" type="text/css">
<script type="text/javascript" src="<#ROOTHTML#>3rdparty/bootstrap5/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
window.MDJAdminDefaultTheme = '[#if "<#SETTINGS_THEME#>"!="dark" || PANEL_THEME=="light"#]light[#else#]dark[#endif#]';
</script>
<script type="text/javascript" src="<#ROOTHTML#>js/admin/admin_panel.js?v=2026-06-03-6"></script>

<!-- Legacy plugins still used by admin modules. Move/remove them module by module. -->
<link rel="stylesheet" type="text/css" href="<#ROOTHTML#>3rdparty/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css"/>
<script type="text/javascript" src="<#ROOTHTML#>3rdparty/moment/moment.min.js"></script>
<script type="text/javascript" src="<#ROOTHTML#>3rdparty/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="<#ROOTHTML#>3rdparty/duration-picker/html-duration-picker.min.js"></script>


<script type="text/javascript" src="<#ROOTHTML#>js/jquery.cookie.js"></script>

<link rel="stylesheet" type="text/css" href="<#ROOTHTML#>3rdparty/fancybox/jquery.fancybox.min.css?v=3.3.5" media="screen" />
<script type="text/javascript" src="<#ROOTHTML#>3rdparty/fancybox/jquery.fancybox.min.js?v=3.3.5"></script>

<link rel="stylesheet" type="text/css" href="<#ROOTHTML#>3rdparty/jquery.toast/jquery.toast.min.css"/>
<script type="text/javascript" src="<#ROOTHTML#>3rdparty/jquery.toast/jquery.toast.min.js"></script>

<script type="text/javascript" src="<#ROOTHTML#>3rdparty/long-press-event/long-press-event.js"></script>
<script language="javascript" type="text/javascript" src="<#ROOTHTML#>js/scripts.js?v=2019-07-09" ></script>

<script language="javascript" type="text/javascript" src="<#ROOTHTML#>js/jWindow.js"></script>


<script language="javascript">
      window.ROOTHTML = "<#ROOTHTML#>";
      var ROOTHTML = window.ROOTHTML;
</script>
<link rel="stylesheet" href="<#ROOTHTML#>css/admin/codeeditor.css?v=2026-06-03-1" type="text/css">
<script type="text/javascript" src="<#ROOTHTML#>js/admin/codeeditor.js?v=2026-06-03-1"></script>
