<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{#TITLE#}</title>
		[#inc common_header_admin.html#]
		<link rel="stylesheet" href="<#ROOTHTML#>3rdparty/fonts/rubik/rubik.css?v=2026-06-03" type="text/css">
		<link rel="stylesheet" href="<#ROOTHTML#>css/admin/admin_panel.css?v=2026-06-03-7" type="text/css">
		[#inc websockets.html#]
	</head>

<body>
	[#if AUTHORIZED#]
	[#inc panel_js_scripts.html#]
	[#if PRINT!="1"#]
	<nav class="navbar navbar-expand-lg md-admin-header" role="navigation">
		<div class="container-fluid md-admin-header__inner">
			<button type="button" class="btn md-admin-sidebar-toggle" data-md-admin-sidebar-toggle aria-label="Open menu">
				<i class="glyphicon glyphicon-th-list"></i>
			</button>
			<a class="navbar-brand md-admin-brand" href="<#ROOTHTML#>admin.php">
				<img src="<#ROOTHTML#>img/logo-md.png" alt="MajorDoMo">
				<span><#LANG_CONTROL_PANEL#></span>
			</a>
			<button type="button" class="btn md-admin-header__toggle md-admin-header__search-toggle" data-md-search-open aria-label="<#LANG_SEARCH#>">
				<i class="glyphicon glyphicon-search"></i>
			</button>

			<div class="md-admin-header__actions" id="searchbtnhide">
				<button type="button" class="btn md-admin-search-button" data-md-search-open>
					<i class="glyphicon glyphicon-search"></i> <#LANG_SEARCH#>
				</button>
			</div>
		</div>
	</nav>
	
	<div class="md-admin-search-backdrop" data-md-search-close></div>
	<aside class="md-admin-search-drawer" id="mdmGlobalSearchDrawer" aria-labelledby="mdmGlobalSearchTitle" aria-hidden="true">
		<div class="md-admin-search-drawer__header">
			<div>
				<div class="md-admin-search-drawer__eyebrow"><#LANG_CONTROL_PANEL#></div>
				<h2 id="mdmGlobalSearchTitle"><#LANG_SEARCH#></h2>
			</div>
			<button type="button" class="btn-close" data-md-search-close aria-label="<#LANG_CLOSE#>"></button>
		</div>
		<div class="md-admin-search-drawer__body">
			<div class="md-admin-search-field">
				<span class="md-admin-search-field__icon" aria-hidden="true"><i class="glyphicon glyphicon-search"></i></span>
				<input type="text" class="form-control" name="filter_modules" id="filter_modules" placeholder="<#LANG_SEARCH#>" autocomplete="off">
				<button type="button" class="md-admin-search-field__clear" id="btnFilterCloseSearch" data-md-search-clear aria-label="<#LANG_CLEAR#>">×</button>
			</div>
			<div class="md-admin-search-hint searchNoty"><#LANG_NEWDASH_SEARCH_HINT#></div>
			<div class="md-admin-search-summary" id="filter_summary"></div>
			<div id="filter_add" class="md-admin-search-results" aria-live="polite"></div>
		</div>
	</aside>
	
	<div class="md-admin-console-backdrop" data-md-console-close></div>
	<aside class="md-admin-console-drawer" id="console" aria-labelledby="mdAdminConsoleTitle" aria-hidden="true">
		<div class="md-admin-console-drawer__header">
			<div>
				<div class="md-admin-console-drawer__eyebrow"><#LANG_CONTROL_PANEL#></div>
				<h2 id="mdAdminConsoleTitle"><#LANG_CONSOLE#></h2>
				<div class="md-admin-console-drawer__subtitle">Textarea, история команд и список методов без старой консольной обвязки.</div>
			</div>
			<button type="button" class="btn-close" id="btnConsoleClose" data-md-console-close aria-label="<#LANG_CLOSE#>"></button>
		</div>
		<div class="md-admin-console-drawer__body">
			<div class="md-admin-console-alerts">
				<div class="alert alert-danger text-center" id="dangerAlertConsole" hidden><#LANG_NEWDASH_CONSOLE_ERROR_EMPTY#></div>
				<div class="alert alert-warning text-center" id="warningAlertConsole" hidden><#LANG_NEWDASH_CONSOLE_ERROR_FAIL#></div>
			</div>

			<form id="adminConsoleForm" class="md-admin-console-composer" action="?" method="post">
				<div class="md-admin-console-label">Command</div>
				<textarea name="command" id="command" class="form-control md-admin-console-textarea" rows="5" placeholder="Code, method, expression..."></textarea>
				<div class="md-admin-console-toolbar">
					<button type="submit" class="btn btn-success"><#LANG_SEND#></button>
					<button type="button" id="btnConsoleToggleModule" class="btn btn-info">Подключить модуль</button>
					<button type="button" id="btnConsoleClearHistory" class="btn btn-default">Очистить историю</button>
				</div>
				<select class="form-control md-admin-console-module" id="currModuleName">
					<option value="0"><#LANG_NEWDASH_CONSOLE_CHOOSE_MODULE#></option>
					[#begin SUB_MODULES#]
						[#if NAME#]<option value="[#NAME#]">[#TITLE#]</option>[#endif#]
					[#end SUB_MODULES#]
				</select>
				<input type="hidden" id="module_add" name="module_add" value="">
				<div class="md-admin-console-label">История</div>
				<div class="md-admin-console-history" id="consoleHistoryList" aria-live="polite"></div>
			</form>

			<div class="md-admin-console-split">
				<div class="md-admin-console-panel">
					<div class="md-admin-console-panel__header">
						<h3>Output</h3>
						<div class="md-admin-console-panel__hint" id="console_output_hintResize">Ctrl+Enter to send, arrows to reuse history.</div>
					</div>
					<div id="loaderConsole" class="md-admin-console-loader text-center">
						<div class="spinner-border text-primary" role="status" aria-hidden="true"></div>
					</div>
					<div id="console_output" class="md-admin-console-output" aria-live="polite"></div>
				</div>

				<div class="md-admin-console-methods" id="methodsModule" hidden>
					<div class="md-admin-console-panel">
						<div class="md-admin-console-panel__header">
							<h3>Methods</h3>
							<div class="md-admin-console-panel__hint">Click to insert into textarea.</div>
						</div>
						<div id="loaderConsoleModule" class="md-admin-console-loader text-center">
							<div class="spinner-border text-primary" role="status" aria-hidden="true"></div>
						</div>
						<ul class="md-admin-console-methods__list list-unstyled mb-0"></ul>
					</div>
				</div>
			</div>
		</div>
	</aside>
	[#endif PRINT#]
	
	<div class="row text-center" style="margin-top: 20px;display:none;" id="preloader">
		<h4 style="font-weight: bold;"><#LANG_NEWDASH_PRELOAD_HEADER#></h4>
		<img src="<#ROOTHTML#>img/system/loading.gif" style="max-width: 200px">
		<p><#LANG_NEWDASH_PRELOAD_TEXT#></p>
		
		<a id="stopLoadBtnPreloader" href="" class="btn btn-success btn-md" role="button"><#LANG_NEWDASH_PRELOAD_BTN#></a>
	</div>

	
	<div id="partLoadContent" class="md-admin-page">

		<div class="md-admin-sidebar-backdrop" data-md-admin-sidebar-close></div>
		<div class="row md-admin-layout" id="content">
			[#if PRINT!="1" && HIDE_LEFT_PANEL!="1"#]
			[#inc panel_nav_left.html#]
			[#endif PRINT#]
			<div class="col-lg-[#if HIDE_LEFT_PANEL="1"#]12[#else#]10[#endif#] col-md-[#if HIDE_LEFT_PANEL="1"#]12[#else#]9[#endif#] col-sm-[#if HIDE_LEFT_PANEL="1"#]12[#else#]8[#endif#] col-xs-12 md-admin-main" id="main-content">
		[#if PRINT!="1"#]
		<section class="md-admin-page-links" aria-label="<#LANG_CONTROL_PANEL#>">
			[#if HIDE_LEFT_PANEL!="1"#]
			<a class="md-admin-page-link" href="?action=xray">
				<span class="md-admin-page-link__icon"><i class="glyphicon glyphicon-dashboard"></i></span>
				<span class="md-admin-page-link__content"><strong>X-Ray</strong><small><#LANG_SECTION_SYSTEM#></small></span>
			</a>
			<a class="md-admin-page-link" href="#" data-md-console-open>
				<span class="md-admin-page-link__icon"><i class="glyphicon glyphicon-flash"></i></span>
				<span class="md-admin-page-link__content"><strong><#LANG_CONSOLE#></strong><small><#LANG_SECTION_SYSTEM#></small></span>
			</a>
			[#endif HIDE_LEFT_PANEL#]
		</section>
		[#endif PRINT#]
				[#if PRINT!="1"#]
				<div class="row md-admin-contextbar">
					[#if ACTION!="" AND ACTION!='xray'#]
					<div class="col-xs-12 col-sm-12 col-md-12" id="console_debug" style="display:none;overflow-wrap: anywhere;margin-bottom:20px;max-height: 150px;overflow: auto;padding: 10px;font-family: Consolas, Verdana;background: #000080;color: #c0c0c0;border-radius: 5px;">
					</div>
					[#endif#]

					<div class="col-md-[#if ACTION!=""#]8[#else#]5[#endif#] md-admin-contextbar__main">
						<ol class="breadcrumb md-admin-breadcrumb" id="hideMenuDiv">
							<li>
								<a href="#" id="linkToggleLeftPanel"><i id="hideMenuIcon" class="glyphicon glyphicon-resize-horizontal"></i></a>
							</li>
							<li><a href="?"><#LANG_CONTROL_PANEL#></a></li>
							[#if NAV_MODULE_CAT!=""#]<li style="color: gray;">[#NAV_MODULE_CAT#]</li>[#endif#]
							[#if NAV_MODULE_NAME!=""#]<li><a href="?action=<#ACTION#>">[#NAV_MODULE_NAME#]</a></li>[#endif#]
						</ol>
					</div>
					<div class="col-md-[#if ACTION!=""#]4[#else#]7[#endif#] text-right md-admin-contextbar__actions">
						<ol class="breadcrumb md-admin-breadcrumb md-admin-breadcrumb--actions" id="breadcrumb_update">
							[#if ACTION!=""#]
							<li>
								<!---
								<div class="btn-group-xs">
									<button style="vertical-align: super;" type="button" onclick="window.open('https://connect.smartliving.ru/addons.html?redirect=<#ACTION#>', '_blank');" class="btn btn-default"><#LANG_MODULE_MARKET#></button>
									<button style="vertical-align: super;" type="button" onclick="window.open('<#LANG_KB_URL#><#ACTION#>_help/?utm_source=system&utm_medium=help&utm_campaign=<#ACTION#>Help', '_blank');" class="btn btn-default"><#LANG_KNOWLEDGE_BASE#></button>
								</div>
								--->
								<a href="javascript://" id="linkConsoleDebug" style="text-decoration: none;margin-right: 15px;color: #d74b4b;"><i class="glyphicon glyphicon-screenshot"></i> Debug</a>
								<a href="<#LANG_KB_URL#><#ACTION#>_help/?utm_source=system&utm_medium=help&utm_campaign=<#ACTION#>Help" target="_blank"><i class="glyphicon glyphicon-question-sign"></i> <#LANG_KNOWLEDGE_BASE#></a>
								<a href="https://connect.smartliving.ru/addons/name/<#ACTION#>.html?utm_source=system&utm_medium=help&utm_campaign=<#ACTION#>Help" target="_blank"><i class="glyphicon glyphicon-info-sign"></i> <#LANG_MODULE_SUPPORT#> [#NAV_MODULE_NAME#]</a>
							</li>
							[#else#]
							<li>
								<span id="loadUpdate"><img src="<#ROOTHTML#>img/ajax-loader.gif"/> <#LANG_NEWDASH_LOADING#></span>
								<a id="errors-saved" style="display:none;text-decoration: none;" href="?action=system_errors"></a>
								<a id="updates-check-market" style="display:none" href="?action=market#panel_updates" style="text-decoration: none;"><span class="label label-success" id="updates-check-market-text"><#LANG_MODULES_UPDATES_AVAILABLE#></span></a>
								<a id="updates-check-system" style="display:none" href="?action=saverestore" style="text-decoration: none;"><span class="label label-warning"><#LANG_SYSTEM_UPDATES_AVAILABLE#></span></a>
							</li>
							[#endif#]
						</ol>
					</div>
					<div class="clearfix"></div>
				</div>
				
				
				
				[#endif PRINT#]
				<!--right_main-->
				[#if ACTION!=""#]


	[#if MODULE_NOTIFICATIONS#]
	[#begin MODULE_NOTIFICATIONS#]
	<div class="alert alert-[#TYPE#]" id="notification[#ID#]">
		<div class="row">
			<div class="col-md-1">[#ADDED#]</div>
			<div class="col-md-10">
				[#MESSAGE#]</div>
			<div class="col-md-1"><a href="#" class="btn btn-default" onclick="return dismissNotification([#ID#]);">OK</a></div>
  	    </div>
	</div>
	[#end MODULE_NOTIFICATIONS#]
	[#endif MODULE_NOTIFICATIONS#]

	[#if RUNNING_WITH_ERRORS#]
	<div class="alert alert-danger">
		<div class="row">
			<div class="col-md-6">
				<b><#LANG_RUNNING_WITH_ERRORS#></b>
			</div>
			<div class="col-md-6 text-right">
				<a href="?action=saverestore" class="btn btn-default btn-sm"><#LANG_NEWSAVERESTORE_UPDATE_BTN#> / <#LANG_RESTORE#></a>
				<a href="#" onclick="$('#system_erorrs_details').toggle();return false;" class="btn btn-default btn-sm"><#LANG_MORE_DETAILS#></a>
 			</div>
  		</div>
	</div>
	<div class="panel panel-body" style="display:none" id="system_erorrs_details">
		[#begin SYSTEM_ERRORS#]
		<div style="color:red;">[#BODY#]</div><hr/>
		[#end SYSTEM_ERRORS#]
	</div>
	[#endif RUNNING_WITH_ERRORS#]

						[#module name="<#ACTION#>" action="admin" instance="adm"#]
				[#else ACTION#]
					[#inc panel_default.html#]
				[#endif ACTION#]
			</div>
		</div>
	</div><!--partloadend-->
	[#else AUTHORIZED#]
	[#module name="control_access" action="enter" instance="auth"#]
	[#endif AUTHORIZED#]


	<script language="javascript">
	//Показ консоли
	if($.cookie('debug') == 'on' && $('#console_debug').is(':hidden')) {
		consoleDebugToggle();
	}
	
	
    var dynids='';
    var dynids_timer=0;
    function dynamicContentRefresh() {
        clearTimeout(dynids_timer);
        var url=window.location.href;
        var dURL = url.replace(/#$/, '');
        if (dURL.indexOf('?') !== -1) {
            dURL+=dynids;
        } else {
            dURL+='?'+dynids;
        }
        //alert(url);
        $.ajax({
            url: dURL
        }).done(function(data) {
            for(var i=0;i<data.blocks.length;i++) {
                $('#'+data.blocks[i].name).html(data.blocks[i].content);
                //$('#'+data.blocks[i].name).fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
            }
            dynids_timer=setTimeout('dynamicContentRefresh();',3000);
        });
    }

function readNoty(id, plugins_id) {
	//Отправляем AJAX на прочтение
	$.ajax({
		url: '/ajax/market.html?op=readNoty&id='+id
	}).done(function(data) {
		data = JSON.parse(data);
		if(data.status == true) {
			countToEnd = Number($('#plugNotyBtn_'+plugins_id).text())-1;
			
			$('#plugNotyBtn_'+plugins_id).text(countToEnd);
			$('#notyAlert_'+id).hide('slow');
	
			if(countToEnd == 0) {
				$('#plugNotyBtn_'+plugins_id).popover('hide');
				$('#plugNotyBtn_'+plugins_id).remove();
			}
		} else {
			alert('Error processing messages from modules.');
		}
	});
}
function closePopover(id) {
	$('#plugNotyBtn_'+id).popover('hide');
}

$(document).ready(function() {
	//Прячем поповер при клике за пределами
	$('body').on('click', function (e) {
		$('[data-bs-toggle=popover]').each(function () {
			if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
				$(this).popover('hide');
			}
		});
	});
	//Ноти
	$("div.plugNotyBtn").hover(function() {
		$(this).popover('show');
	}, function() {
		//$(this).popover('hide');
	});
	
	//Применяем тему
	/*
	if($.cookie('theme') == 'dark') {
		document.documentElement.setAttribute('data-bs-theme', 'dark');
	} else if($.cookie('theme') == 'light') {
		document.documentElement.setAttribute('data-bs-theme', 'light');
	} */
	
	
	var $adminHeader = $('.md-admin-header');
	function updateAdminHeaderState() {
		if ($(window).scrollTop() > 24 && (document.documentElement.scrollHeight - window.innerHeight) >= 200) {
			$adminHeader.addClass('md-admin-header--compact');
		} else {
			$adminHeader.removeClass('md-admin-header--compact');
		}
	}
	updateAdminHeaderState();
	$(window).on("scroll", function(e) {
		updateAdminHeaderState();

		//if(window.pageYOffset < 500) {
		//	$('#partLoadContent').css('margin-top', ''+(window.pageYOffset*1)+'px');
		//}
	});
	
	[#if HIDE_LEFT_PANEL!="1"#]
	$("#hideMenuHint").mouseover(function () {
		$("#hideMenuIcon").css('color','red');
		$("#hideMenuDiv").css('border','1px solid red');
	});
	$("#hideMenuHint").mouseout(function () {
		$("#hideMenuIcon").css('color','#4792d1');
		$("#hideMenuDiv").css('border','0px');
	});
	[#endif#]

	$('.datepicker').datetimepicker({format:'YYYY-MM-DD'});

	$(".popup").fancybox({
		maxWidth        : 800,
		maxHeight       : 600,
		fitToView       : false,
		width           : '70%',
		height          : '70%',
		autoSize        : false,
		closeClick      : false,
		preload			: false,
		openEffect      : 'none',
		closeEffect     : 'none'
	});
	checkLocationHref();

	$('.dynamic_content').each(function() {
		if ($(this).attr('id')) {
			var dyn_id = $(this).attr('id');
			dynids+='&dynids[]='+dyn_id;
		}
	});
	if (dynids!='') {
		dynamicContentRefresh();
	}

    localStorage.clear();
    ajaxManager.run();
});
</script>

</body>
</html>
