<script language="javascript">

    function toggleCategory(id) {
        var vl=$.cookie('sub_'+id);
        if (vl == 'off') {
            $.cookie('sub_'+id, 'on', {expires: 180});
        } else {
            $.cookie('sub_'+id, 'off', {expires: 180});
        }
        adminCollapse('row_'+id, 'toggle');
        return false;
    }

    function adminCollapse(elementId, command) {
        var element = document.getElementById(elementId);
        if (!element) {
            return false;
        }
        if (window.bootstrap && window.bootstrap.Collapse) {
            window.bootstrap.Collapse.getOrCreateInstance(element, {toggle: false})[command]();
            return true;
        }
        if (window.jQuery && typeof jQuery.fn.collapse === 'function') {
            jQuery(element).collapse(command);
            return true;
        }
        element.classList.toggle('show', command === 'show' || (command === 'toggle' && !element.classList.contains('show')));
        return true;
    }

    function resetHintCookies() {
        if (!confirm('<#LANG_ARE_YOU_SURE#>')) return false;
        var pairs = document.cookie.split(";");
        for (var i=0; i<pairs.length; i++) {
            var pair = pairs[i].split("=");
            var cookieName = pair[0].trim();
            if (cookieName.startsWith('hint_')) {
                var id = cookieName.replace('hint_','');
                $('#hint_'+id).show("fast");
                $.cookie(cookieName, null);
            }
            if (cookieName.startsWith('sub_')) {
                var id = cookieName.replace('sub_','');
                adminCollapse('row_'+id, 'show');
                $.cookie(cookieName, null);
            }
        }
        return true;
    }

    function hideHintCookie(id, check = 0) {
        var vl = $.cookie('hint_'+id);

        if (check == 0) {
            $.cookie('hint_'+id, 'off', {expires: 180});
            $('#hint_'+id).hide("fast");
        } else if (check == 1) {
            if(vl != 'off') {
                $('#hint_'+id).show("fast");
            }
        }

        return false;
    }

    function checkCategory(id) {
        var vl = $.cookie('sub_'+id);

        if (vl == 'on' || vl == null) {
            adminCollapse('row_'+id, 'show');
        } else if (vl == 'off') {
            adminCollapse('row_'+id, 'hide');
        }
        return false;
    }

    var fileBrowseElementId="";
    function openFileBrowserCallback(url) {
        $('#'+fileBrowseElementId).val(url);
    }
    function openFileBrowser(id){
        fileBrowseElementId=id;
        window.open('<#ROOTHTML#>3rdparty/elFinder/elfinder.html',
            'kcfinder_image', 'status=0, toolbar=0, location=0, menubar=0, ' +
            'directories=0, resizable=1, scrollbars=0, width=800, height=600'
        );
    }

    function showHideLayer(id) {
        var layer=document.getElementById('sub_'+id);
        var layer2=document.getElementById('plus_'+id);
        if (layer.style.display=='none') {
            layer.style.display='block';
            layer2.innerHTML='[-]';
            $.cookie('sub_'+id, 'on');
        } else {
            layer.style.display='none';
            layer2.innerHTML='[+]';
            $.cookie('sub_'+id, 'off');
        }
        return false;
    }

    function checkLayer(id) {
        var vl=$.cookie('sub_'+id);
        if (vl=='off') {
            showHideLayer(id);
        }
    }

    var filterTimer;

    function filterSearch() {
        if (window.MDJAdminSearch) {
            window.MDJAdminSearch.search();
        }
        return false;
    }

    function setFilter(value) {
        if (window.MDJAdminSearch) {
            return window.MDJAdminSearch.setFilter(value);
        }
        return false;
    }

    function filterModules() {
        var title=document.frmFilterModules.filter_modules.value;
        var moduleTitle='';
        var sectionTitle='';
        var elem;

        $.cookie('panelFilter', title);

        title=title.toLowerCase();

        if (title!='') {
            //$('#filter_add').html('...');
            $('#filter_add').show();
            clearTimeout(filterTimer);
            filterTimer=setTimeout(filterSearch, 1000);
        } else {
            $('#filter_add').hide();
            clearTimeout(filterTimer);
        }

        var found=0;
        var i=0;

        [#begin SUB_MODULES#]
            [#if !DENIED#]
        moduleTitle="[#TITLE#]";
        moduleTitle=moduleTitle.toLowerCase();
        sectionTitle="[#CATEGORY#]";
        sectionTitle=sectionTitle.toLowerCase();
        elem=document.getElementById('module_[#NAME#]_link');
        if (title=='' || moduleTitle.indexOf(title)!=-1 || sectionTitle.indexOf(title)!=-1) {
            elem.style.display='block';
            found++;
        } else {
            elem.style.display='none';
        }
        i++;
        [#endif DENIED#]

            [#if LAST_IN_CATEGORY#]
        elem=document.getElementById('row_[#CATEGORY#]');
        if (found>0) {
            elem.style.display='block';
        } else {
            elem.style.display='none';
        }
        found=0;
        [#endif LAST_IN_CATEGORY#]

            [#end SUB_MODULES#]
    }

    jQuery.fn.center = function () {
        this.css("position","absolute");
        this.css("top", ( $(window).height() - this.height() ) / 2+$(window).scrollTop() + "px");
        this.css("left", ( $(window).width() - this.width() ) / 2+$(window).scrollLeft() + "px");
        return this;
    }
    // ----------------------------------------------------------------------
    function openTWindow(winId, winTitle, pageURL, wdth, hdth) {
        parent.$.fancybox.open({ src: pageURL, type: 'iframe',iframe:{preload:false}});
        return false;
    }


    function openModalTWindow(winId, winTitle, pageURL, wdth, hdth) {
        parent.$.fancybox.open({ src: pageURL, type: 'iframe',iframe:{preload:false}});
        return false;
    }

    function leftPanelToggle() {
        var url=window.location.href;
        var dURL = url.replace(/#$/, '');
        if (dURL.indexOf('?') !== -1) {
            dURL+='&toggleLeftPanel=1';
        } else {
            dURL+='?toggleLeftPanel=1';
        }
        window.location.href=dURL;
        //$('#left_block').toggle();
        //checkLeftPanelStatus();
        return false;
    }

    var cmd='';

    var hrefLocation = window.location.href;
    hrefLocation=hrefLocation.replace(/^.*\/\/[^\/]+/, '');
    var urlInProgress = '';

    var consoleDebugTimer;

    function updateConsoleDebug() {
        if ($('#console_debug').is(":hidden")) {
            clearTimeout(consoleDebugTimer);
            return;
        }

        var urlDebug="<#ROOTHTML#>ajax/xray.html?ajax=1&op=getcontent&lines=10";
        $.ajax({
            url: urlDebug,
        }).done(function(data) {
            if (typeof data === 'string') {
                data = safeJsonParse(data, {});
            } else if (!data || typeof data !== 'object') {
                data = {};
            }

            if(data.CONTENT) {
                $('#console_debug').html(data.CONTENT);
            } else {
                $('#console_debug').html('<img style="background: white;border-radius: 50px;padding: 5px;" src="<#ROOTHTML#>img/ajax-loader.gif"/> Консоль пуста. Дождитесь новых данных...');
            }
        });
        consoleDebugTimer=setTimeout(updateConsoleDebug, 1000);
    }

    function consoleDebugToggle() {
        $("#console_debug").toggle();
        if ($('#console_debug').is(':visible')) {
            $.cookie('debug', 'on', {expires: 1});
        } else {
            $.cookie('debug', 'off', {expires: 1});
        }

        updateConsoleDebug();
        return false;
    }

    var locationTimer;
    function checkLocationHref() {
        clearTimeout(locationTimer);
    }

    var loaderTimer;
    function loadInProgress() {
        $('.sp-replacer').remove();
        $('.sp-container').remove();
        $('#preloader').show('fast');
        $('#partLoadContent').html('');
        $('#stopLoadBtnPreloader').attr('href', urlInProgress);
        return false;
    }



    var requestCounter = 0;

    function partLoad(link) {
        [#if PRINT=="1"#]return true;[#endif#]
        if (typeof link == 'undefined') return;


        var maxId=setTimeout(function(){}, 0);
        for(var i=0;i<maxId;i+=1) {
            clearTimeout(i);
        }

        ajaxManager.stop();
        requestCounter++;
        var seqNumber=requestCounter;
        var urlPartLoad=link;
        urlInProgress = link;
        hrefLocation = link;
        hrefLocation=hrefLocation.replace(/^.*\/\/[^\/]+/, '');
        clearTimeout(locationTimer);
        locationTimer = setTimeout(checkLocationHref, 1000);
        urlPartLoad+='&part_load=1';

        var cachedKey = simple_hash(urlPartLoad);
        var cachedContent = localStorage.getItem(cachedKey);
        if (typeof cachedContent == 'string') {
            window.history.pushState('', window.title, link);
            $('#partLoadContent').html(cachedContent);
            if (window.MDJAdminUI) {
                window.MDJAdminUI.boot(document.getElementById('partLoadContent'));
            }
        } else {
            cachedContent = '';
            loaderTimer=setTimeout(loadInProgress, 2000);
        }

        $.ajax({
            url: urlPartLoad,
            urlInProgress: urlInProgress
        }).done(function(data) {
            //console.log('part content loaded');
            $('#preloader').hide('fast');
            if (seqNumber!=requestCounter) {
                //console.log('Ignoring response');
            }
            clearTimeout(loaderTimer);
            var obj;
            try {
                obj = JSON.parse(data);
            } catch (e) {
                window.location.href=this.urlInProgress;
                return false;
            }
            if ("undefined" !== typeof obj.REDIRECT) {
                link = obj.REDIRECT;
            }

            if (obj.NEED_RELOAD!=0) {
                window.location.href=link;
            } else {
                window.history.pushState('', window.title, link);
                if (cachedContent!=obj.CONTENT) {
                    $('#partLoadContent').html(obj.CONTENT);
                    if (window.MDJAdminUI) {
                        window.MDJAdminUI.boot(document.getElementById('partLoadContent'));
                    }
                    localStorage.setItem(cachedKey,obj.CONTENT);
                }
                if (("undefined" !== typeof obj.TITLE) && obj.TITLE != '') {
                    window.document.title = obj.TITLE;
                }

                $('input[name=filter_modules]').keyup(function() {
                    filterModules();
                });

                $('.sp-container').remove();

            }
        });
        return false;
    }
    [#if ACTION==""#]
    function checkSystemInfo() {
        $.ajax({
            url: '<#ROOTHTML#>diagnostic.php?ajax=1',
            success: function(data) {
                try {
                    data = JSON.parse(data);
                } catch (e) {
                    return;
                }
                //console.log(data);
                $('#dashInfoIPCl').text();
                $('#dashInfoIPSer').text();
                $('#dashInfoOS').text(data.OS);
                $('#dashInfoErrors').text(data.active_errors);
                $('#dashInfoLastUpdate').text(data.LatestUpdateTimestamp);
            },
            error: function(data) {
                console.log('error');
            }
        });
        //Запрос последних скриптов
        $.ajax({
            url: '<#ROOTHTML#>admin.php?action=xray&md=xray&inst=adm&view_mode=scripts&ajax=1&op=getcontent',
            success: function(data) {
                data = safeJsonParse(data, {});
                if (!data.LIST || !data.LIST.length) {
                    return;
                }
                var list = data.LIST.reverse();
                var i = 0;
                while (i < 6) {
                    var dataCurr = list[i];
                    if (!dataCurr) {
                        break;
                    }

                    var scriptLastBlock = (i !== 0) ? $('#scriptLast').html() : '';
                    $('#scriptLast').html(scriptLastBlock + '<li><span>'+dataCurr.SCRIPT+'</span><span class="badge md-admin-status-badge">'+dataCurr.EXECUTED+'</span></li>')

                    i++;
                }
            },
            error: function(data) {
                console.log('error');
            }
        });
        //Запрос данных по работе БД
        $.ajax({
            url: '<#ROOTHTML#>admin.php?action=xray&md=xray&inst=adm&view_mode=database&ajax=1&op=getcontent&mode=showdbload',
            success: function(data) {
                data = safeJsonParse(data, {});
                if (typeof data.second === 'undefined' || typeof data.minute === 'undefined' || typeof data.hours === 'undefined') {
                    return;
                }
                $('#dashInfoDBReqS').html(data.second);
                $('#dashInfoDBReqM').html(data.minute);
                $('#dashInfoDBReqH').html(data.hours);
                $('#dashInfoDBConnections').html(data.connections);
                $('#dashInfoDBConnections').removeClass('label-warning label-danger').addClass('label-success');
                applyDbBadgeState($('#dashInfoDBReqS'), data.second, 170, 250);
                applyDbBadgeState($('#dashInfoDBReqM'), data.minute, 10200, 15000);
                applyDbBadgeState($('#dashInfoDBReqH'), data.hours, 612000, 900000);
            },
            error: function(data) {
                console.log('error');
            }
        });

        $.ajax({
            url: '<#ROOTHTML#>admin.php?action=xray&md=xray&inst=adm&view_mode=properties&ajax=1&op=getcontent',
            success: function(data) {
                data = safeJsonParse(data, {});
                if (!data.LIST || !data.LIST.length) {
                    $('#recentProperties').html('<div class="md-admin-empty-state">Пока нет свежих изменений свойств.</div>');
                    return;
                }

                var list = data.LIST.slice().reverse().slice(0, 8);
                var html = '<ul class="md-admin-property-feed__list">';

                for (var i = 0; i < list.length; i++) {
                    var item = list[i];
                    html += '<li class="md-admin-property-feed__item">' +
                        '<div class="md-admin-property-feed__main">' +
                            '<strong>' + $('<div/>').text(item.NAME || '').html() + '</strong>' +
                            '<span>' + $('<div/>').text(item.VALUE || '—').html() + '</span>' +
                        '</div>' +
                        '<div class="md-admin-property-feed__meta">' +
                            '<span>' + $('<div/>').text(item.UPDATE || '').html() + '</span>' +
                            '<small>' + $('<div/>').text(item.SOURCE || '—').html() + '</small>' +
                        '</div>' +
                    '</li>';
                }

                html += '</ul>';
                $('#recentProperties').html(html);
            },
            error: function(data) {
                $('#recentProperties').html('<div class="md-admin-empty-state">Не удалось загрузить последние изменения свойств.</div>');
            }
        });


        return false;
    }
    [#endif#]
    function dismissNotification(id) {

        var url = '?ajax_panel=1&op=dismiss_notification&id='+id;
        $.ajax({
            url: url,
            success: function(data) {
                if (data=='OK') {
                    $('#notification'+id).fadeOut();
                }
            }
        });


        return false;
    }

    [#if ACTION==""#]
    function myBlockOnDash() {
        var urlCheckNews = '<#ROOTHTML#>objects/?script=dash_my_block';
        $.ajax({
            url: urlCheckNews,
            success: function(data) {
                if(data) data = JSON.parse(data);
                if (data.status == 1) {
                    if($('#myBlockOnDash').is(":hidden") == true) $('#myBlockOnDash').show();
                    $('#myBlockOnDash_title').text(data.name);
                    $('#myBlockOnDash_body').html(data.data.data);
                    $('#myBlockOnDash').attr('data-md-panel-type', data.type || 'default');

                    if(data.reload == true) {
                        setTimeout(function() {
                            myBlockOnDash();
                        }, data.reload_time*1000);
                    }
                    //Есть доп инфа для вывода
                    if(data.moreinfo) {
                        $('#more_myBlockOnDash').show();
                        var i = 0;
                        for (var value in data.moreinfo) {
                            if(i == 0) $('#more_myBlockOnDash_body').html('');
                            var color = data.moreinfo[value].split('|color:');
                            var color_bg = color[1] ? color[1] : '#999';

                            $('#more_myBlockOnDash_body').prepend('<li class="list-group-item" style="--md-badge-bg:'+color_bg+';">'+value+'<span class="badge md-admin-status-badge">'+color[0]+'</span></li>');
                            i++;
                        }
                    }
                } else {
                    $('#myBlockOnDash').hide();
                }
            },
        });

        return false;
    }

    function checkUpdatesAvailable() {
        var urlCheckUpdates = '<#ROOTHTML#>ajax/saverestore.html?op=check_updates';
        $.ajax({
            url: urlCheckUpdates
        }).done(function(data) {
            data = JSON.parse(data);
            if (data.needUpdate == '1') {
                $('#updates-check-system').show();
                $('#breadcrumb_update').attr('style', 'border-radius: 0px 4px 4px 0px;[#if ACTION==""#]background-image: radial-gradient(circle farthest-corner at 0px 10px, #f5f5f5, #4792d1);[#endif#]');
            }
            $('#loadUpdate').hide();
            //$('#dashInfoBranch').html(data.currBranch.slice(0, -7));
            var versionText = data.currBranch + '_' + data.current_version.slice(0, -33);
            if (data.commitUrl) {
                $('#dashInfoVersion').html('<a class="md-admin-badge-link" href="' + data.commitUrl + data.current_version + '" target="_blank">' + versionText + '</a>');
            } else {
                $('#dashInfoVersion').html(versionText);
            }
        });

        var urlCheckUpdatesMarket = '<#ROOTHTML#>ajax/market.html?op=check_updates';
        $.ajax({
            url: urlCheckUpdatesMarket
        }).done(function(data) {
            try {
                JSON.parse(data);
            } catch (e) {
                //$('#problemLinkToConnect').show();
                return false;
            }

            data = JSON.parse(data);
            if (data.status == '1') {
                $('#updates-check-market').show();
                $('#updates-check-market-text').html('<#LANG_NEWDASH_UPDATE_MODULE_HINT1#> ' +data.howUpdate+ ' <#LANG_NEWDASH_UPDATE_MODULE_HINT2#>');
                $('#breadcrumb_update').attr('style', 'border-radius: 0px 4px 4px 0px;[#if ACTION==""#]background-image: radial-gradient(circle farthest-corner at 0px 10px, #f5f5f5, #4792d1);[#endif#]');
            }
            $('#loadUpdate').hide()
        });

        var urlCheckUpdatesSystem = '<#ROOTHTML#>ajax/system_errors.html?op=check';
        $.ajax({
            url: urlCheckUpdatesSystem
        }).done(function(data) {
            if (data >= '1') {
                $('#errors-saved').prepend('<span class="label label-danger"><#LANG_ERRORS_SAVED#>: '+data+'</span>');
                $('#errors-saved').show();
                $('#breadcrumb_update').attr('style', 'border-radius: 0px 4px 4px 0px;[#if ACTION==""#]background-image: radial-gradient(circle farthest-corner at 0px 10px, #f5f5f5, #4792d1);[#endif#]');
            }
            $('#loadUpdate').hide()
        });

    }
    [#endif#]



</script>
